/* - - - - - - - - - - - - - - - - - - - - -

 Title : Custom CSS 
 Author : EmailMeForm
 URL : http://emailmeform.com

 Last Updated : June 22, 2011

 - - - - - - - - - - - - - - - - - - - - - -

INSTRUCTIONS

You can modify all or portions of these CSS rules.

- - - - - - - - - - - - - - - - - - - - - */


/* -- Logo -- */

#emf-container #emf-logo a /* logo image */
{
  background-repeat:no-repeat;
  text-indent:-99999px;
  background-image: url("http://emf2/builder/images/themes/logos/airplane.png");
  background-repeat: no-repeat;
  height: 40px;
}


/* -- Backgrounds -- */

body /* wallpaper */
{
  background-image: none; 
  background-color: #ffffff;
}

#emf-container #emf-logo /* header */
{
  background-image: none;
  background-color: #98C6EE;
}

#emf-container /* form */
{
  background-color: #DDDDDD;
}

#emf-container div.emf-div-field input, /* field */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  background-color: #FFFFFF;
}

#emf-container #emf-form ul li.highlight-field /* highlight */
{
  background-color: #7B7779;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  background-color: none;
}


/* -- Typography -- */

#emf-container #emf-form-title /* title */
{
  font-family: Georgia;
  font-style: oblique;
  font-size: 23px;
  color: #3D484B;
}

#emf-container #emf-form-description /* description */
{
  font-family: Courier New;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

#emf-container label.emf-label-desc /* field title */
{
  font-family: Courier New;
  font-style: italic;
  font-size: 15px;
  color: #000000;
}

#emf-container div.emf-div-field input, /* field text */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  color: #3D484B;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  font-family: Arial;
  font-style: italic;
  font-size: 10px;
  color: #3D484B;
}


/* -- Borders -- */

#emf-container /* form */
{ 

}

#emf-container #emf-logo /* header */
{
  -moz-border-radius:2px 2px 0 0;
  -webkit-border-radius:2px 2px 0 0;
}

/* -- Shadows -- */

#emf-container-outer #emf-form-shadows /* bottom shadow image */
{
  display:block;
  margin:0 auto;
  height:9px;
  width:640px;
  border:medium none;
  visibility: visible;
}

/* -- Separator Lines -- */

#emf-container .emf-head-widget, #emf-container li .emf-section-separator{
  border-bottom-style: dashed;
  border-color: #3D484B;
}

/* -- Section Title -- */

#emf-container li.emf-field-section_break div.emf-div-field-section h3{
	font-size:16px;
}

/* -- Section Text -- */

#emf-container li.emf-field-section_break .emf-section-text{
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: #3D484B;
}

/* -- Buttons -- */

#emf-container .emf-action-next /* next button */
{
}

#emf-container .emf-action-previous /* previous button */
{
}

#emf-container #submit_form /* submit button */
{
}


/* -- CAPTCHA -- */

#emf-container li#emf-li-captcha #emf-captcha-top-settings
{
  background-color:#AAD6AA;
  color:#FFFFFF;
}

#emf-container li#emf-li-captcha #emf-captcha-bottom-settings
{
  background-color:#E4F8E4;
}

#emf-container li#emf-li-captcha #emf-captcha-input-settings,
#emf-container li#emf-li-captcha #emf-captcha-input-settings a
{
  color:#000000;
}


/* -- Error message -- */

#emf-container .emf-error-message
{
  margin: 10px;
  padding: 10px;
  border: 2px dashed #FF0000;
}


/* -- CCDM Custom -- */

#emf-container #emf-form-title {
    display: none;
}

#emf-container li.emf-field-section_break .emf-section-text {
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    color: #3D484B;
    font-style: italic;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label {
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    color: #3D484B;
}

#emf-container li.emf-field-section_break div.emf-div-field-section h3 {
    font-size: 16px;
    font-weight: bold;
}

#emf-form {
    width: 1032px !important;
    margin-left: -396px !important;
    background: none;
}


#emf-form-shadows {
    display: none !important;
}

#emf-container #emf-form-description {
    font-style: normal;
    font-size: 15px;
    color: #000000;
    font-family: roboto, sans-serif;
    text-align: center;
}


#emf-container #emf-form-title {
    font-style: inherit;
    font-size: 23px;
    color: #3D484B;
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: -24px;
}


#emf-container #emf-form ul li.highlight-field {
    background-color: #fff;
}

.emf-div-field .side_by_side {
    margin-left: 8px;
}



#emf-container ul li label.emf-label-desc {
    font-weight: 500;
    padding-right: 2px;
    padding-bottom: 5px;
    display: block;
    font-family: roboto, sans-serif;
    font-style: normal;
}

#emf-container {
    border: none;
    background: none;
}


#emf-form {

    padding: 50px 50px 50px 205px;
}

#emf-container-outer {

    background-color: #fff;
}


#emf-container ul li.emf-li-half-width {
    width: 25%  !important;
}


/* -- Media Queries -- */


@media screen and (max-width: 1000px) {

#emf-form {
    width: 862px !important;
    margin-left: -317px !important;
}
}

@media screen and (max-width: 800px) {
#emf-form {
    width: 668px !important;
    margin-left: -224px !important;
}

  #emf-form input, #emf-form select, #emf-form textarea {
    max-width: 94%;
}



#emf-container ul li label.emf-label-desc {
    font-size: 15px;
    margin-right: 10px;
}
}



@media screen and (max-width: 660px) {
#emf-form {
    width: 589px !important;
    margin-left: -201px !important;
}


  }


  @media screen and (max-width: 560px) {
#emf-form {
    width: 477px !important;
    margin-left: -201px !important;
}

#emf-container ul li.emf-li-half-width {
    width: 50% !important;
}

embed, iframe {
    max-width: 100%;
    height: 3208px !important;
}

.emf-div-field-section {
    width: 91%;
}

.emf-div-field {
    width: 93%;
}

  }




@media screen and (max-width: 480px) {
	
#emf-form {
    width: 468px !important;
    margin-left: -204px !important;
}


    #emf-recaptcha_widget {
        width: 348px;
    }

    #recaptcha_logo {
        display: none;
    }
}




@media screen and (max-width: 400px) {
	
#emf-form {
    width: 329px !important;
    margin-left: -6px !important;
}
    body {
        margin: 0 !important;
        padding: 3px;
    }

    #emf-container #emf-form {
        padding: 5px 7px;
    }

    #recaptcha_image,#recaptcha_image
    img {
        width: 100% !important;
        height: auto !important;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #emf-recaptcha_widget {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 4px;
    }

    #recaptcha_controls {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #recaptcha_logo {
        display: none;
    }

    #recaptcha_response_field {
        margin-top: 0;
        width: 100%;
    }

    #emf-container ul li.emf-li-half-width {
        width: 99%;
        clear: both;
    }

    .emf-field-new_address .emf-half {
        width: 100% !important;
        float: none;
    }

    #emf-container #emf-form.leftLabel label.emf-label-desc,#emf-container #emf-form.rightLabel label.emf-label-desc,#emf-container #emf-form.leftLabel div.emf-div-field,#emf-container #emf-form.rightLabel div.emf-div-field {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        float: none;
    }

    #emf-container #emf-form ul li.emf-li-field {
        padding-left: 0;
    }

    .emf-field-text input,.emf-field-number input,.emf-field-email input,.emf-field-url input,.emf-field-text_list input,.emf-field-number_list input,.emf-field-textarea textarea,.emf-field-text_area_list textarea,.emf-field-drop_down_list
    select {
        width: 100%;
    }

    #emf-container #emf-page-info .emf-steps {
        display: none;
    }

    #emf-container #emf-page-info .emf-steps-narrow-width {
        display: inline-block;
    }

    #emf-container #emf-page-info .emf-page-label,#emf-container #emf-page-info.emf-compact-page-info .emf-page-number {
        margin: 0 5px 0 2px;
        display: inline-block;
    }

    #emf-container #emf-page-info .emf-steps-toggler {
        float: left;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        margin-left: 7px;
        margin-right: 7px;
        width: 15px;
        margin-top: 2px;
    }

    #emf-container #emf-page-info .emf-page-item {
        display: none;
        text-align: left;
    }

    #emf-container #emf-page-info .emf-page-item.emf-selected {
        display: block;
    }

    #emf-container #emf-page-info .emf-page-item-visible-on-narrow-screen {
        display: block;
    }

    .emf-field-grid table,.emf-field-grid thead,.emf-field-grid tbody,.emf-field-grid th,.emf-field-grid td,.emf-field-grid
    tr {
        display: block;
    }

    .emf-field-list table,.emf-field-list thead,.emf-field-list tbody,.emf-field-list th,.emf-field-list td,.emf-field-list
    tr {
        display: block;
    }

    .emf-field-grid thead tr,.emf-field-list thead
    tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .emf-field-grid tr,.emf-field-list
    tr {
        border: 1px solid #ccc;
    }

    .emf-field-grid td,.emf-field-list
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        width: 100%;
    }

    #emf-form .emf-field-grid
    td {
        text-align: left;
    }

    #emf-form .emf-field-grid th,#emf-form .emf-field-list
    th {
        width: 100%;
    }

    .emf-field-grid td:before {
        position: relative;
        display: block;
    }

    .emf-field-grid td
    label {
        display: inline;
        margin-right: 10px;
    }

    .emf-field-grid tr,.emf-field-list
    tr {
        border: 0;
    }

    #emf-form .emf-field-grid th,#emf-form .emf-field-grid
    td {
        border-left: 0;
        padding: 4px;
    }
}


@media screen and (max-width: 350px)
#emf-form {
    width: 294px !important;
    margin-left: -6px !important;
}




@media screen and (max-width: 300px) {
#emf-form {
    width: 242px !important;
    margin-left: -2px !important;
}
    
}

@media screen and (max-width: 280px) {
#emf-form {
    width: 253px !important;
    margin-left: -9px !important;
}
}
@media screen and (max-width: 260px)
#emf-form {
    width: 237px !important;
    margin-left: -9px !important;
}
}

@media screen and (max-width: 240px)
#emf-form {
    width: 175px !important;
    margin-left: -9px !important;
}
}


@media screen and (max-width: 220px)
#emf-form {
    width: 165px !important;
    margin-left: -9px !important;
}
}
